*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

.hidden {
    display: none;
}
#modal {
    position: fixed;
    top: 50%;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px solid black;
    z-index: 1000;
    height: 300px;
}
.visible {
    display: block;
}